.container-header {
  border-top: 2px dashed @silver;
  width: 100%;

  header {
    max-width: 800px;
    margin: 0 auto;
    border-bottom: 2px dashed @silver;

    @media @mobile {
      margin: 2rem;
    }

    h2 {
      margin-top: 2rem;
    }

    p {
      margin-bottom: 1.5rem;
    }
  }

  
}

.home {

  @media @mobile {
      flex-direction: column;
    }

  .content-section {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;


    @media @mobile {
      margin: 2rem;
    }

   
    
    .text-content {
      width: 48%;
      padding-right: 1%;

      @media @mobile {
        width: 96%;
        margin-top: 2rem;
      }

    }

    .img-content {
      width: 48%;
      padding-left: 1%;

      @media @mobile {
        width: 96%;
      }

      img {
        border-radius: 10px;
      }
    }
  }

  .inverse-content {
    padding-bottom: 30px;
    border-bottom: 2px dashed @navigation-border;

    @media @mobile {
      display: flex;
      flex-direction: column-reverse;
    }

    .text-content {
      padding-left: 1%;
      padding-right: 0;
    }

    .img-content {
      padding-right: 1%;
      padding-left: 0;
    }
  }

  .content-destination {
    width: 75%;
    margin: 0 auto 30px;

    img {
      border-radius: 10px;
    }
  }

  .content-pick {
    padding-top: 30px;
    border-top: 2px dashed @navigation-border;
    display: flex;
    justify-content: space-between;

    @media @mobile {
      flex-direction: column;
      .center();
    }

    .destination {
      width: 30%;
      margin-bottom: 30px;

      @media @mobile {
        width: 80%;
        margin-top: 2rem;
      }

      .btn {
        .btn1(86%, 40px, 2rem, 10px);
      }
    }
  }
}// home
